* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(183, 199, 215);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculadora {
    display: flex;
    flex-direction: column;

    width: 400px;

    margin: auto ;
    padding: 30px;

    background-color: rgb(255, 255, 224);
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

div {
    margin: 10px 0;
}

section p {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgb(54, 64, 133);
    border: none;
}

footer {
    height: 50px;
    background-color: rgb(54, 64, 133);
    color: #fff;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer p {
    
}